{% extends 'base.html' %}
{% block content %}
<div class="text-center pt-14 sm:text-left">
    <h1 class="text-xl font-bold underline underline-offset-8">Create Profile</h1>
    <div class="rounded-sm shadow-xl w-auto p-6">
        <form method="post">
            {% csrf_token %}
            {{  form.as_p  }}
            <button type="submit" class="bg-green-600 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save</button>
        </form>
    </div>
</div>
{% endblock %}