{% extends 'base.html' %}
{% block content %}
<div class="text-center pt-14 sm:text-center">
    <div class="p-4 border-b">
        <h1 class="text-2xl text-center font-bold">Welcome, {{ user.full_name | title}}</h1>
    </div>
    <div class="flex justify-center">
        <table class="border border-rose-500  w-3/4 ">
            <tr>
                <th class="text-red-600">{{ year }} - {{ month }}</th>
            </tr>
            <tr class="border-b border-rose-500 mx-auto">
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            {% for week in calendar %}
                <tr class="border-b border-rose-500 p-6">
                    {% for day in week %}
                        {% if day != 0 %}
                                <td class="border-r border-b border-rose-500 ">
                                    <a href="{% url 'choice_page'%}">
                                            {{ day }}
                                    </a>
                                </td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}