{% extends 'base.html' %}
{% block content %}
<!-- calendarapp/templates/calendarapp/calendar.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Calendar</title>
</head>
<body>
    <div className="text-center sm:text-left">
        <h1>My Calendar</h1>
    <table border="1">
        <tr>
            <th class="text-blue-600">{{ year }} - {{ month }}</th>
        </tr>
        <tr>
            <th class="text-lg">Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
        {% for week in calendar %}
            <tr>
                {% for day in week %}
                    {% if day != 0 %}
                        {% if day == today %}
                            <td><a href="/calendar/{{ year }}/{{ month }}/{{ day }}/">{% if day == today %}{{ day }} (Today){% else %}{{ day }}{% endif %}</a></td>
                        {% else %}
                            <td>{{ day }}</td>
                        {% endif %}
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>

{% endblock %}