{% extends 'base.html' %}
{% block content %}
<!-- report_template.html -->
<div class="text-center pt-14 sm:text-center">
    <div class="p-4 border-b">
        <h1 class="text-2xl text-center font-semibold">Production Data Report</h1>
    </div>    
    <div class="py-8">
        <form method="GET">
            <!-- <input type="text" name="q" class="border-2 border-solid border-rose-500" placeholder="Search by Variety or G-House No." value="{{ query }}">
            <button type="submit" class="bg-[#a5274a] hover:bg-rose-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Search</button> -->

            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" class="border-2 border-solid border-rose-500" value="{{ start_date|date:'Y-m-d' }}">

            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" class="border-2 border-solid border-rose-500" value="{{ end_date|date:'Y-m-d' }}">

            <button type="submit" class="bg-[#a5274a] hover:bg-rose-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Filter</button>
        </form>
    </div>

     <!-- Aggregated Data Display -->
     <h2>Aggregated Data</h2>

     <h3>Total by Variety</h3>
     <table>
         <tr>
             <th>Variety</th>
             <th>Total</th>
         </tr>
         {% for item in total_by_variety %}
         <tr>
             <td>{{ item.varieties }}</td>
             <td>{{ item.total }}</td>
         </tr>
         {% endfor %}
         <tr>
            <td><strong>Total Amount:</strong></td>
            <td><strong>{{ total_amount_variety }}</strong></td>
         </tr>
     </table>
     
     <h3>Total by Greenhouse</h3>
     <table>
         <tr>
             <th>Greenhouse Number</th>
             <th>Total</th>
         </tr>
         {% for item in total_by_greenhouse %}
         <tr>
             <td>{{ item.greenhouse_number }}</td>
             <td>{{ item.total }}</td>
         </tr>
         {% endfor %}
         <tr>
             <td><strong>Total Amount:</strong></td>
             <td><strong>{{ total_amount_greenhouse }}</strong></td>
         </tr>
     </table>
     
     <h3>Total by Variety and Length</h3>
     <table>
         <tr>
             <th>Variety</th>
             <th>Length</th>
             <th>Total</th>
         </tr>
         {% for item in total_by_variety_length %}
         <tr>
             <td>{{ item.varieties }}</td>
             <td>{{ item.length }}</td>
             <td>{{ item.total }}</td>
         </tr>
         {% endfor %}
         <tr>
             <td colspan="2"><strong>Total Amount:</strong></td>
             <td><strong>{{ total_amount_variety_length }}</strong></td>
         </tr>
     </table>
     
     <h3>Total by Greenhouse and Length</h3>
     <table>
         <tr>
             <th>Greenhouse Number</th>
             <th>Length</th>
             <th>Total</th>
         </tr>
         {% for item in total_by_greenhouse_length %}
         <tr>
             <td>{{ item.greenhouse_number }}</td>
             <td>{{ item.length }}</td>
             <td>{{ item.total }}</td>
         </tr>
         {% endfor %}
         <tr>
             <td colspan="2"><strong>Total Amount:</strong></td>
             <td><strong>{{ total_amount_greenhouse_length}}</strong></td>
         </tr>
     </table>
 
    <!-- Display Data -->
    <div class="flex justify-center">
        <table >
            <thead>
                <tr class="border border-rose-500 mx-auto">
                    <th>Date</th>
                    <th>G-House No.</th>
                    <th>Variety</th>
                    <th>Number of Stems</th>
                    <th>Length</th>
                    <th>Staff No.</th>
    
                </tr>
            </thead>
            <tbody>
                {% for item in page_obj %}
                    <tr>
                        <td class="text-center border border-rose-500">{{ item.production_date }}</td>
                        <td class="text-center border border-rose-500">{{ item.greenhouse_number }}</td>
                        <td class="text-center border border-rose-500">{{ item.varieties }}</td>
                        <td class="text-center border border-rose-500">{{ item.total_number }}</td>
                        <td class="text-center border border-rose-500">{{ item.length }}</td>
                        <td class="text-center border border-rose-500">{{ item.user.staff_number }}</td>
                        
                        <td class="text-center border border-rose-500">
                            <a href="{% url 'generate_qr_code' pk=item.pk %}" class="font-bold text-[#a5274a] underline underline-offset-4">Generate QR Code</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No data found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination text-center pt-2">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Prev </a>
                <!-- <a href="?page={{ page_obj.previous_page_number }}">previous</a> -->
            {% endif %}

            <span class="current-page text-rose-500 text-ellipsis ">Page {{ page_obj.number }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> Next &raquo;</a>
                <!-- <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> -->
            {% endif %}
        </span>
    </div>

    <div class="py-6">
        <button type="submit" class="bg-[#a5274a] hover:bg-rose-500 text-white font-bold py-2 px-4 rounded ">
            <a href="{% url 'download_excel_report' %}?start_date={{start_date|date:'Y-m-d' }}&end_date={{ end_date|date:'Y-m-d' }}">Download Excel Report</a>
        </button>
    </div>
</div>

{% endblock %}