{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="text-center pt-14 sm:text-center">
    <h1 class="text-xl font-bold underline underline-offset-8 pb-4">Update Profile</h1>
    <div class="rounded-sm shadow-xl shadow-rose-500 w-auto">
    <p class="bg-rose-200 w-1/2 mx-auto p-4">Please Update the details below !</p>
    <form method="post"  class="p-6 w-1/2 mx-auto ">
        {% csrf_token %}
        {{ form | crispy  }}
        <div class="pt-6">
            <button type="submit" class="bg-[#a5274a] hover:bg-rose-500 text-white font-bold py-2 px-4 rounded ">Update</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}